.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
.contact {
  width: 100%;
  padding: 0px 150px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 80px;
}
.contact-left {
  width: 50%;
  border-radius: 20px 0 0 20px;
}
.map-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
}

.map-image iframe {
  border: 0;
  width: 100%;
  min-height: 540px;
}
.contact-right {
  width: 50%;
}
.contact-text {
  font-family: var(--font-poppins);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 40px;
  font-size: 24px;
}
.contact-yellowline {
  background-color: #f5dc4b;
  height: 12px;
  width: 100%;
}
.contact-address-text,
.contact-timing-text {
  font-family: "Ultra", serif;
  font-size: 32px;
  margin-bottom: 10px;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.contact-timing-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-address,
.contact-timing-detail {
  font-family: "Stint Ultra Expanded", serif;
  font-size: 20px;
  line-height: 2;
}

@media screen and (max-width: 720px) {
  .contact-container {
    height: 100%;
  }
  .contact {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .contact-left {
    width: 100%;
  }
  .map-image {
    width: 100%;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
  }
  .contact-right {
    width: 100%;
  }
  .contact-address-text,
  .contact-timing-text {
    font-size: 30px;
  }
  .contact-address,
  .contact-timing-detail {
    font-family: "Stint Ultra Expanded", serif;
    font-size: 16px;
    line-height: 2;
  }

  .map-image iframe {
    border: 0;
    width: 100%;
    min-height: 400px;
  }
}
