@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@500&family=Raleway:wght@400;500;600&family=Roboto:wght@400;500&family=Stint+Ultra+Expanded&family=Ultra&family=Wix+Madefor+Text:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
